.contact-main {
    padding: 90px 0;

    @media screen and (max-width:550px) {
        .container-fluid {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }

    .container-fluid {
        padding-left: 70px;
        padding-right: 70px;
    }

    .col-left {
        .title {
            hr {
                opacity: 1;
                width: 80px;
                background-color: #83AE3E;
                color: #83AE3E;
                height: 2px;
                margin-top: 25px;
            }
        }

        p {
            color: #8f8f8f;
            font-size: 14px;
        }

        form {
            margin-top: 20px;

            input,
            textarea {
                border-radius: 2px;
                padding: 11px 20px 13px;
            }

            input:focus,
            textarea:focus {

                border-color: #83AE3E;
                box-shadow: none;
            }

            button {
                background-color: #83AE3E;
                border: 1px solid #83AE3E;
                width: 50%;
                padding: 10px 10px;
                font-weight: 500;
                font-size: 16px;

            }

            button:hover {
                background-color: #689029;
                border-color: #689029;
            }
        }
    }

    .col-right {
        padding-left: 45px;

        .title {

            h2 {
                color: #46474a;
                font-size: 30px;
            }

            hr {
                background-color: #5f5f5f;
                margin-bottom: 0;
            }
        }

        .contact-phone,
        .contact-email {
            .body {
                margin-top: 5px;

                a {
                    text-decoration: none;
                    display: block;
                    margin-left: 3px;
                    color: #83AE3E;
                    transition: .3s;
                }

                a:hover {
                    color: #689029;
                }
            }

        }

        .contact-phone {

            .body {
                a {
                    color: #8f8f8f;

                }
            }
        }

        .contact-email {
            padding-top: 40px;
        }

        .contact-socials {
            padding-top: 40px;

            .body {
                margin-top: 10px;

                ul {
                    padding-left: 0;

                    li {
                        margin-right: 10px;
                        display: inline-block;

                        a {
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            border-radius: 50%;
                            font-size: 18px;
                            text-align: center;
                            color: #fff;
                            transition: .3s;

                            i {
                                font-size: 16px;
                            }
                        }

                        .facebook {
                            background-color: #395b98;
                        }

                        .facebook:hover {
                            background-color: #2e497a;
                        }

                        .twitter {
                            background-color: #2ca7e0;
                        }

                        .twitter:hover {
                            background-color: #2386b3;
                        }

                        .google {
                            background-color: #d95139;
                        }

                        .google:hover {
                            background-color: #AE412E;
                        }
                    }
                }
            }
        }

        .contact-adress,
        .contact-hours {
            padding-top: 40px;

            .body {
                margin-top: 5px;

                p {
                    color: #8f8f8f;
                    font-size: 14px;
                }
            }
        }

    }

}