.header-top {
    padding-bottom: 12px;
    padding-top: 11px;
    margin: 0 50px;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 16px;

    .container-fluid {

        .row {
            margin: 0;


            &>div {
                height: 35px;
                padding: 0;
            }

            .login {
                a {
                    color: #8f8f8f;
                    text-decoration: none;
                    font-size: 14px;
                    color: #83AE3E;
                    transition: .3s;

                }

                a:hover {
                    color: #689029;
                }

                i {
                    color: #8f8f8f;
                    font-size: 16px;
                }
            }

            .info {
                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        display: inline-block;
                        margin-left: 55px;

                        a {
                            color: #8f8f8f;
                            text-decoration: none;
                            font-size: 14px;
                            transition: .3s;

                        }

                        a:hover {
                            color: #689029;
                        }

                        i {
                            color: #8f8f8f;
                            font-size: 16px;
                        }
                    }

                    li:first-child {
                        margin-left: 0;
                    }
                }
            }


            .socials {
                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        padding: 0 6px;
                        display: inline-block;

                        a {
                            i {
                                color: #8f8f8f;
                                font-size: 16px;
                                transition: .3s;

                            }
                        }

                        a:hover {
                            i {
                                color: #46474a;
                            }
                        }
                    }
                }
            }

        }


    }

}

.header-bottom {
    .container-fluid {
        padding: 0 55px;

        hr {
            margin-bottom: 2px;
        }

        .col-top {
            padding-bottom: 20px;
            position: relative;

            .right {
                position: absolute;
                right: 0px;
                top: 0;

                a {
                    display: inline-block;
                    right: 0px;
                    top: 0;
                    padding: 7px 21px;
                    background-color: #ffa74f;
                    font-size: 17px;
                    text-decoration: none;
                    color: aliceblue;
                    font-weight: bold;
                    border: 1px solid #ffa74f;
                    border-radius: 12px;
                    transition: .3s;
                }

                a:hover {
                    background-color: #db7004;
                    border: 1px solid #db7004;
                }
            }
        }

        .col-bottom {
            padding: 10px 15px;
            background-color: #ffffff;
            z-index: 10;

            ul {
                margin: 0;
                padding: 0;
                text-align: center;

                li {
                    display: inline-block;
                    margin-left: 50px;

                    a {
                        display: inline-block;
                        color: #46474a;
                        text-decoration: none;
                        font-size: 17px;
                        font-weight: bold;
                        padding: 5px;
                        text-transform: uppercase;
                        transition: .3s;
                    }

                    a:hover {
                        color: #689029;
                    }
                }

                li:first-child {
                    margin-left: 0;
                }

                #lang {
                    left: 280px;
                    width: 60px;

                    .lang-img-main {
                        height: 16px;
                        width: 16px;
                        margin-right: 3px;
                    }

                    .lang-img {
                        height: 16px;
                        width: 16px;
                        //margin-right: 7px;
                    }
                }

                #lang:hover {
                    cursor: pointer;
                }

            }


            .logo {
                display: inline-block;
                position: relative;
                bottom: 16px;
                left: 35px;
                display: none;
            }

            .openNav {
                font-size: 35px;
                cursor: pointer;
                display: none;
            }
        }

    }
}

.none {
    display: none;
}

.hidden-menu {
    position: absolute;
    width: 120px;
    transition: all 1s;

    .lang-hidden-span {
        margin-left: 7px;
    }

    a {
        text-decoration: none;
        color: black;
        display: flex !important;
        justify-content: start;
        align-items: center;
        font-weight: 500 !important;
        font-size: 14px !important;
        background-color: transparent;
        padding: 5px 5px;
        background-color: #ffffff;
        border-bottom: 1px dashed #f5f5f5f5;
        transition: all .3s;
        text-transform: none !important;
    }

    a:hover {
        background-color: #f9faff;
        color: #396cf0;
    }

    a.active {
        color: #396cf0;
    }
}




.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 8;
    background-color: black;
    opacity: 0.7;
    display: none;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 85px;

    .logoInBtn {
        margin-bottom: 35px;
    }

    .symbol-img {
        display: inline-block;
        height: 45px;
        width: 139px;
    }

}



@media screen and (max-width:951px) {
    .header-top {
        display: none;
    }

    .header-bottom {
        ul {
            display: inline-block;
            position: relative;

            li {
                display: none !important;
            }

            li:last-child {
                display: inline-block !important;
            }
        }

        .col-top {
            display: none;
        }

        hr {
            display: none;
        }

        .col-bottom {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;

            .logo {
                display: inline-block !important;
            }

            .openNav {
                display: inline-block !important;
            }

        }

    }

}

