main {
    .photo-carousel {
        .item {
            background-color: greenyellow;
            height: 420px;
            width: 100%;
            position: relative;

            .small-description {
                position: absolute;
                padding: 30px;
                background-color: rgba(0, 0, 0, 0.6);
                bottom: 65px;
                left: 107px;
                width: 370px;

                h3 {
                    color: #fff;
                }

                hr {
                    width: 70px;
                    height: 3px;
                    color: #689029;
                    opacity: 1;
                }

                p {
                    color: #fff;
                }

                span.cost {
                    font-size: 24px;
                    color: #fc8816;

                    .badge {
                        color: #fc8816;
                        padding-left: 1px;
                    }
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #fff;
                    padding: 10px 35px;
                    background-color: #83AE3E;
                    font-size: 18px;
                    font-weight: 400;
                    border: 1px;
                    border-radius: 7px;
                    margin-top: 30px;
                    margin-left: 30px;
                }

                a:hover {
                    background-color: #689029;
                }

            }



            @media screen and (max-width:450px) {
                .small-description {
                    left: 70px;
                    width: 270px;

                    p {
                        display: none;
                    }
                }
            }

            @media screen and (max-width:360px) {
                .small-description {
                    left: 40px;
                }
            }


        }

        .owl-item.active {
            .small-description {
                animation-name: 'down';
                animation-duration: 1s;
            }
        }

        @keyframes down {
            from {
                bottom: 90%;
                opacity: .4;
            }

            to {
                bottom: 15.5%;
                opacity: 1;
            }
        }

    }


    section.search {
        padding: 20px 0;

        h2 {
            margin-bottom: 30px;
            color: #46474a;
            font-weight: 700;
        }

        &>.container {
            position: relative;
            z-index: 1;
            background-color: #fff;
            margin-top: -70px;
            padding: 30px;
            padding-bottom: 40px;
            box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.22);

        }

        form {

            &>div{
                margin-top: 25px;
            }

            label {
                color: #8f8f8f;
            }

            .col-md-2 {
                margin-right: 0px;
                width: 14%;
            }

            .col-md-1 {
                margin-right: 0px;
                width: 13%;
            }

            .no-label {
                input {
                    margin-top: 33px;
                }
            }

            input {
                border-radius: 2px;
                padding: 11px 20px 13px;
            }

            input:focus {
                border-color: #83AE3E;
                box-shadow: none;
            }

            select {
                border-radius: 2px;
                padding: 11px 20px 13px;
            }

            select:focus {
                border-color: #83AE3E;
                box-shadow: none;
            }

            button {
                font-size: 18px;
                font-weight: 500;
                padding: 10px 42px;
                background-color: #83AE3E;
                border-color: #83AE3E;
                margin-top: 33px;
                margin-left: 22px;
            }

            button:hover {
                background-color: #689029;
                border-color: #689029;
            }

        }

    }
}